<html>
<head>
  <title>一刀砍掉1500元，砍到0元MacBook就是你的啦，快召集朋友来帮你砍吧。</title>
  <link href="/kan.css?<%=Time.now.to_i%>" media="all" rel="stylesheet" type="text/css">
  <%= csrf_meta_tags %>    
  <script>
    function isWeiXin(){ 
     var useragent = navigator.userAgent;
     if (useragent.match(/MicroMessenger/i) != 'MicroMessenger') {
        // 这里警告框会阻塞当前页面继续加载
        alert('已禁止本次访问：您必须使用微信内置浏览器访问本页面！');
        // 以下代码是用javascript强行关闭当前页面
        var opened = window.open('about:blank', '_self');
        opened.opener = null;
        opened.close();
      }
    }     
    
    function onBridgeReady(){
     isWeiXin();
    }
    // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
    if (typeof WeixinJSBridge == "undefined"){
        if( document.addEventListener ){
            document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
        }else if (document.attachEvent){
            document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
            document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
        }
    }else{
        onBridgeReady();
    }
  </script>
</head>
<body>  
  <div id="content">          
      <div class="kan-content">
          <h3 class="red">活动时间：2014.12.28-2015.1.8</h3>
          <p class="red">活动规则：</p>
          <ol>
（1）参加本次活动请使用微信客户端参加，每个用户只能参加一次；<br/>
（2）参加活动前请先关注公众号<a href="weixin://profile/gh_04d3139a06d6">宠爱天使</a><br/>
（3）MacBook Air疯狂砍，砍到0元拿回家，每砍一次，价格就会降低很多，自己只能砍一次，邀请朋友来砍可以多次，每天一次，能砍到多少价格就看你能召唤多少小伙伴来帮忙啦！<br/>
（4）奖品数量有限，首期活动25台，只要砍到0元，无需支付任何费用，顺丰包邮寄到家。活动过程中，只要还能砍价，就说明还有货，可放心参加！<br/>
（5）本次活动以邀请好友助力的方式进行，作弊软件刷单的行为会被系统识别并禁止，取消活动资格，所以，请不要作弊哦。<br/>
（6）如果活动结束时，最终没有砍到0元，那么砍下的金额可以在下一期活动中使用，小伙伴们不会白忙活的哦。<br/>
（7）活动过程中，实时公布获胜者名单，活动结束后5个工作日内，将奖品全部发放完毕。<br/>
（8）本次活动的奖品MacBook Air，为大陆行货，全新未拆封，有发票，全国联保。<br/>
          </ol>
      </div>

      <div class="kan-section">
          <div class="btn btn-lg btn-danger">
            <a href="javascript:void(0)" onclick="showShare();"><span class="icon icon4">&nbsp;</span>分享到朋友圈</a>
          </div> 
      </div>
     <div class="kan-section">
         <div class="btn btn-lg btn-default">
           <a href="<%=@game_url.html_safe%>"><span class="icon icon5">&nbsp;</span>返回我的活动</a>
          </div> 
      </div>
    
    <div class="kan-window-wrap" id="share-wrap"></div>
      <div class="kan-info kan-modal" id="share">
        <div class="kan-modal-dialog">          
          <p class="quote">
            1、点击右上角分享按钮；<br>
            2、发送给朋友 或者 <br>
            3、发送到朋友圈 砍价更快！
          </p>
          <div class="center">
              <div class="btn btn-lg btn-danger" onclick="hideShare();">
              知道了
              </div> 
          </div>
        </div>
      </div>
    <script type="text/javascript"  language="javascript">
      function showShare() {
        document.getElementById('share').style.display = 'block';
        (elem=document.getElementById('share-wrap')).setAttribute("class","kan-window-wrap");
        eraseCookie('notice');
      }
      function hideShare() {
        document.getElementById('share').style.display = 'none';
        (elem=document.getElementById('share-wrap')).setAttribute("class","");          
      }
      hideShare();
    </script>
  </div>
</body>
</html>
