<html>
<head>
  <title>一刀砍掉1500元，砍到0元MacBook就是你的啦，快召集朋友来帮你砍吧。</title>
  <link href="/kan.css" media="all" rel="stylesheet" type="text/css">
  <%= csrf_meta_tags %>    
  <script>
    function isWeiXin(){ 
     var useragent = navigator.userAgent;
     if (useragent.match(/MicroMessenger/i) != 'MicroMessenger') {
        // 这里警告框会阻塞当前页面继续加载
        alert('已禁止本次访问：您必须使用微信内置浏览器访问本页面！');
        // 以下代码是用javascript强行关闭当前页面
        var opened = window.open('about:blank', '_self');
        opened.opener = null;
        opened.close();
      }
    }     
    
    function onBridgeReady(){
     isWeiXin();
    }
    // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
    if (typeof WeixinJSBridge == "undefined"){
        if( document.addEventListener ){
            document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
        }else if (document.attachEvent){
            document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
            document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
        }
    }else{
        onBridgeReady();
    }
  </script>
</head>
<body>
  <div>
    砍价排行：
  </div>
  <div>
    <%=@topn%>
  </div>
</body>
</html>
